{% extends 'base.html.twig' %}

{% block title %}Production{% endblock %}

{% block entete %}Production{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    
	{% stylesheets filter='cssrewrite'
	'@ICProductionBundle/Resources/public/css/layout.css'
	'@ICProductionBundle/Resources/public/css/menu_vertical.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
    
	{% stylesheets filter='cssrewrite'
	'@ICAffichageBundle/Resources/public/css/impression.css' %}
		{{ parent() }}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="print">
	{% endstylesheets %}
{% endblock %}

{% block body %}
	<section id="menuVertical">
		{{ render(controller("ICProductionBundle:Menu:menu", {'url': app.request.attributes.get('_route')})) }}
	</section>
    <section id="page">
        {% block page %}
        
        {% endblock %}
    </section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts
	'@ICAffichageBundle/Resources/public/js/*' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
