{% extends "ICAffichageBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Approvisionnement Interne{% endblock %}

{% block entete %}{{ parent() }} Approvisionnement Interne{% endblock %}

{% block stylesheets %}
	{% stylesheets filter='cssrewrite'
	'@ICAffichageBundle/Resources/public/css/appro.css' %}
		{{ parent() }}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
{% endblock %}

{% block page %}
	{{ parent() }}
	
	{% if appro is empty %}
		aucune commande en cours
	{% else %}
	
		{% set id = appro[0].appro.id %}
		
		<h1>{{appro[0].appro.fournisseur.nom}} le {{appro[0].appro.dateCommande|date('d-m-Y')}}</h1>
		<table class="imp">
			<tr>
                <td class="titreFamille">Famille</td>
                <td class="titreFamille">Sous Famille</td>
                <td class="titreDesignation">Désignation</td>
                <td class="titreBoitier">Boitier</td>
                <td class="titreStock">Quantite</td>
			</tr>
			{% for approvisionnement in appro %}
			
				{% if approvisionnement.appro.id != id %}
					{% set id = approvisionnement.appro.id %}
					</table>
					
					<h1>{{approvisionnement.appro.fournisseur.nom}} le {{approvisionnement.appro.dateCommande|date('d-m-Y')}}</h1>
					
					<table class="imp">
						<tr>
                            <td class="titreFamille">Famille</td>
                            <td class="titreFamille">Sous Famille</td>
                            <td class="titreDesignation">Désignation</td>
                            <td class="titreBoitier">Boitier</td>
                            <td class="titreStock">Quantite</td>
						</tr>				
					<tr>
						<td>{{approvisionnement.composant.famille.nom}}</td>
                        <td class="sousFamille">
                            {% if approvisionnement.composant.idSousFamille != 0 %}
                                {{approvisionnement.composant.sousFamille.nom}}
                            {% endif %}
                        </td>
						<td class="designation">{{approvisionnement.composant.nom}}</td>
						<td>{{approvisionnement.composant.boitier}}</td>
						<td>{{approvisionnement.quantite}}</td>
					</tr>
				{%else %}
					<tr>
						<td>{{approvisionnement.composant.famille.nom}}</td>
                        <td class="sousFamille">
                            {% if approvisionnement.composant.idSousFamille != 0 %}
                                {{approvisionnement.composant.sousFamille.nom}}
                            {% endif %}
                        </td>
						<td class="designation">{{approvisionnement.composant.nom}}</td>
						<td>{{approvisionnement.composant.boitier}}</td>
						<td>{{approvisionnement.quantite}}</td>
					</tr>
				{% endif %}
				
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}
