<nav id="lienMenuVertical">
    <span class="titreMenuVertical">Général</span><br>
		<a class="sousMenu decalageNoPlus" href="{{ path('ic_administration_matiere_premiere') }}">Matières Premières</a><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_administration_affichage_fournisseur') }}">Fournisseurs</a><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_administration_nomenclature') }}">Nomenclatures</a><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_administration_affichage_firmware') }}">Firmware</a><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_administration_affichage_nomenclature_qualite') }}">Contrôle Qualité</a><br>

        
        {% image 'Resources/public/images/plus.png' %}
            <span id="sousMenu1" class="sousMenu"><img id="sousMenu11" class="imgFlecheliste majuscule" src="{{ asset_url }}" alt="Fleche Bas" />Produits Finis</span><br>
        {% endimage %}
        
        <div class="divSousMenu" id="sousMenu111">
            <a class="sousSousMenu" href="{{ path('ic_administration_affichage_fiche_descriptive') }}">Fiche Descriptive Lecteur IDcapt</a><br>
            <a class="sousSousMenu" href="{{ path('ic_administration_affichage_produit_fini_identifiant') }}">Identifiants</a><br>
            <a class="sousSousMenu" href="{{ path('ic_administration_affichage_produit_fini_autre') }}">Autres PF</a><br>
        </div>
        
    <span class="titreMenuVertical">Options</span><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_administration_affichage_sous_famille') }}">Sous Familles</a><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_administration_affichage_type_badge') }}">Type badges</a><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_administration_affichage_type_lecteur') }}">Type lecteurs</a><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_administration_affichage_type_autre') }}">Type autres PF</a><br>
        
    <span class="titreMenuVertical">Historique</span><br>
        <a class="sousMenu decalageNoPlus" href="">Historique Appro</a><br>
        <a class="sousMenu decalageNoPlus" href="">Historique Production</a><br>
        <a class="sousMenu decalageNoPlus" href="">Historique Vente</a><br> 
</nav>
