<nav id="lienMenuVertical">
	<span class="titreMenuVertical">Appro MP</span><br>
	
		<a class="sousMenu decalageNoPlus" href="{{ path('ic_approvisionnement_mp_production') }}">MP nécessaire à la production</a><br>
		<a class="sousMenu decalageNoPlus" href="{{ path('ic_approvisionnement_mp_critique') }}">MP en état critique</a><br>
        
	<span class="titreMenuVertical">Appro PF</span><br>
	
		<a class="sousMenu decalageNoPlus" href="{{ path('ic_approvisionnement_pf_identifiant') }}">Identifiants</a><br>
		<a class="sousMenu decalageNoPlus" href="{{ path('ic_approvisionnement_pf_autre') }}">Autres PF</a><br> 

	<span class="titreMenuVertical">Appro En Cours</span><br>
	
		<a class="sousMenu decalageNoPlus" href="{{ path('ic_approvisionnement_en_cours_mp') }}">Matière Première</a><br>
    {% image 'Resources/public/images/plus.png' %}
        <span id="sousMenu1" class="sousMenu"><img id="sousMenu11" class="imgFlecheliste majuscule" src="{{ asset_url }}" alt="Fleche Bas" />Produits Finis</span>
    {% endimage %}
    <br>
    <div class="divSousMenu" id="sousMenu111">
        <a class="sousSousMenu" href="{{ path('ic_approvisionnement_en_cours_identifiant') }}">Identifiants</a><br>
        <a class="sousSousMenu" href="{{ path('ic_approvisionnement_en_cours_autre') }}">Autres PF</a><br>
    </div>

    {% if sousTraitants is not empty %}
    	<span class="titreMenuVertical">Envoi MP Sous-Traitant</span><br>
        
        {% for sousTraitant in sousTraitants %}
            <a class="sousMenu decalageNoPlus" href="{{ path('ic_approvisionnement_envoi_sous_traitant', {idSousTraitant: sousTraitant.id}) }}">{{sousTraitant.nom}}</a><br>
        {% endfor %} 
    {% endif %}
</nav>
    <span class="lienImp" onclick="$('.imp').tableExport({type:'excel', escape:'false'})">Enregistrer au format Excel</span><br>
    <span class="lienImp" onclick="javascript:window.print()">Imprimer</span><br>
    <br>
    
{% if url == "ic_approvisionnement_mp_production" or url == "ic_approvisionnement_mp_critique" %}
	{{ include("ICApprovisionnementBundle:Form:FormMatierePremiere.html.twig") }}
{% elseif url == "ic_approvisionnement_pf_identifiant" %}
	{{ include("ICApprovisionnementBundle:Form:FormIdentifiant.html.twig") }}
{% elseif url == "ic_approvisionnement_pf_autre" %}
	{{ include("ICApprovisionnementBundle:Form:FormAutre.html.twig") }}
{% endif %}
