{% extends 'ICApprovisionnementBundle::layout.html.twig' %}

{% block title %} {{ parent() }} matière première{% endblock %}

{% block entete %} {{ parent() }} matière première{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	
	{% stylesheets filter='cssrewrite'
	'@ICApprovisionnementBundle/Resources/public/css/approMP.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
    
{% endblock %}

{% block page %}

    {{ parent() }}
        
    {% if fournisseurs is empty %}
        <div class="infoPageVide">
        
            {{ textPartie }}<br>
            <br>
            {% if textPartie1 is defined %}
                <span class="erreur">{{ textPartie1 }}</span>
            {% endif %}
        </div>
    {% else %}

        {% for fournisseur in fournisseurs %}
        
            <h1>{{fournisseur.nom}}</h1>
            
            <form method="post" action="{{ path('ic_approvisionnement_calcul', {idFournisseur: fournisseur.id, page: page}) }}">
            
                <table class="imp">
                    <tr>
                        <td class="titreFamille">Famille</td>
                        <td class="titreSousFamille">Sous Famille</td>
                        <td class="titreDesignation">Designation</td>
                        <td class="titreReference">Référence</td>
                        <td class="titreBoitier">Boitier</td>
                        <td class="titreQte">Qte</td>
                        <td class="titreQteNecessaire">Qte Mini</td>
                    </tr>
                    {% for approvisionnement in fournisseur.composantFournisseur %}
                        
                        <tr>
                            <input type="hidden" name="listId[]" value="{{ approvisionnement.idComposant }}">
                            <td>{{approvisionnement.composant.famille.nom}}</td>
                            <td class="sousFamille">
                                {% if approvisionnement.composant.idSousFamille != 0 %}
                                    {{ approvisionnement.composant.SousFamille.nom }}
                                {% endif %}
                            </td>
                            <td class="designation">{{approvisionnement.composant.nom}}</td>
                            <td>{{ approvisionnement.reference }}</td>
                            <td>{{ approvisionnement.composant.boitier }}</td>
                            <td><input class="inputQuantite" type="text" name="{{ approvisionnement.idComposant }}"></td>
                            {% for qte in quantiteCommande %}
                                {% if qte.idComposant == approvisionnement.idComposant %}
                                    <td>{{qte.quantite}}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>  
                    {% endfor %}
                </table>
                
                <input class="inputValiderCommande" type="submit" value="Valider la commande">
            </form>
        {% endfor %}
    {% endif %}
    
{% endblock %}

{% block javascripts %}
	{{ parent() }}
{% endblock %}
