{% extends 'ICApprovisionnementBundle::layout.html.twig' %}

{% block title %} {{ parent() }} - Autres Produits Finis{% endblock %}

{% block entete %} {{ parent() }} Autres Produits Finis{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	
	{% stylesheets filter='cssrewrite'
	'@ICApprovisionnementBundle/Resources/public/css/approPF.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
    
{% endblock %}

{% block page %}

    {{ parent() }}
    
    {% if typeLecteur is not empty %}
        {% set id = typeLecteur[0].fournisseur.id %}
        
        <h2>{{typeLecteur[0].fournisseur.nom}}</h2>
        
        <form method="post" action="{{ path('ic_approvisionnement_calcul_autre', {idFournisseur: id}) }}">
        <table class="imp">
            <tr>
                <td class="titreCheckBoxTab"></td>
                <td class="titreReference">Référence</td>
                <td class="titreDesignation">Designation</td>
                <td class="titreQte">Qte</td>
            </tr>
            {% for typeLec in typeLecteur %}
            
                {% if typeLec.fournisseur.id != id %}
                    
                    </table>
                        <input class="inputValiderCommande" type="submit" value="Lancer la commande">  
                    </form>
                    
                    {% set id = typeLec.fournisseur.id %}
                    
                    <h2>{{typeLec.fournisseur.nom}}</h2>
                    
                    <form method="post" action="{{ path('ic_approvisionnement_calcul_autre', {idFournisseur: id}) }}">
                    <table class="imp">
                        <tr>
                            <td class="titreCheckBoxTab"></td>
                            <td class="titreReference">Référence</td>
                            <td class="titreDesignation">Designation</td>
                            <td class="titreQte">Qte</td>
                        </tr>				
                    <tr>
                        <td><input type="checkbox" name="option[]" value="{{typeLec.id}}"></td>
                        <td>{{typeLec.referenceInterne}}</td>
                        <td class="designation">{{typeLec.designation}}</td>
                        <td><input class="inputQuantite" type="text" name="{{typeLec.id}}"></td>
                    </tr>
                {%else %}
                    <tr>
                        <td><input type="checkbox" name="option[]" value="{{typeLec.id}}"></td>
                        <td>{{typeLec.reference}}</td>
                        <td class="designation">{{typeLec.designation}}</td>
                        <td><input class="inputQuantite" type="text" name="{{typeLec.id}}"></td>
                    </tr>
                {% endif %}
                
            {% endfor %}
        </table>   
            <input class="inputValiderCommande" type="submit" value="Lancer la commande">  
        </form>    
    {% endif %}
    
    {% if autre is not empty %}
        {% set id = autre[0].fournisseur.id %}
        
        <h2>{{autre[0].fournisseur.nom}}</h2>
        
        <form method="post" action="{{ path('ic_approvisionnement_calcul_autre', {idFournisseur: id}) }}">
        <table class="imp">
            <tr>
                <td class="titreCheckBoxTab"></td>
                <td class="titreReference">Référence</td>
                <td class="titreDesignation">Designation</td>
                <td class="titreQte">Qte</td>
            </tr>
            {% for approvisionnement in autre %}
            
                {% if approvisionnement.fournisseur.id != id %}

                    </table>
                        <input class="inputValiderCommande" type="submit" value="Lancer la commande">  
                    </form>
                    
                    {% set id = approvisionnement.appro.id %}
                    
                    <h2>{{autre[0].fournisseur.nom}}</h2>
                    
                    <form method="post" action="{{ path('ic_approvisionnement_calcul_autre', {idFournisseur: id}) }}">
                    <table class="imp">
                        <tr>
                            <td class="titreCheckBoxTab"></td>
                            <td class="titreReference">Référence</td>
                            <td class="titreDesignation">Designation</td>
                            <td class="titreQte">Qte</td>
                        </tr>				
                    <tr>
                        <td><input type="checkbox" name="option[]" value="{{approvisionnement.id}}"></td>
                        <td>{{approvisionnement.reference}}</td>
                        <td class="designation">{{approvisionnement.designation}}</td>
                        <td><input class="inputQuantite" type="text" name="{{approvisionnement.id}}"></td>
                    </tr>
                {%else %}
                    <tr>
                        <td><input type="checkbox" name="option[]" value="{{approvisionnement.id}}"></td>
                        <td>{{approvisionnement.reference}}</td>
                        <td class="designation">{{approvisionnement.designation}}</td>
                        <td><input class="inputQuantite" type="text" name="{{approvisionnement.id}}"></td>
                    </tr>
                {% endif %}
                
            {% endfor %}
        </table>  
            <input class="inputValiderCommande" type="submit" value="Lancer la commande">  
        </form>   
    {% endif %}
{% endblock %}
