{% extends 'ICApprovisionnementBundle::layout.html.twig' %}

{% block title %} {{ parent() }} - Autres Produits Finis{% endblock %}

{% block entete %} {{ parent() }} Autres Produits Finis{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	
	{% stylesheets filter='cssrewrite'
	'@ICApprovisionnementBundle/Resources/public/css/approPF.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
    
{% endblock %}

{% block page %}

    {{ parent() }}
    
    {% if fournisseursLecteurs is not empty %}
        <h1>Fournisseur de lecteur</h1>
        {% for fournisseurLecteurs in fournisseursLecteurs %}
        
            <h2>{{fournisseurLecteurs.nom}}</h2>
        
            <form method="post" action="{{ path('ic_approvisionnement_calcul_autre', {idFournisseur: fournisseurLecteurs.id}) }}">
                <table class="imp">
                    <tr>
                        <td class="titreReference">Référence</td>
                        <td class="titreDesignation">Designation</td>
                        <td class="titreQte">Qte</td>
                    </tr>
                    {% for typeLec in fournisseurLecteurs.lecteurAutre %}
                        <tr>
                            <input type="hidden" name="listId[]" value="{{typeLec.id}}">
                            <td>{{typeLec.reference}}</td>
                            <td class="designation">{{typeLec.designation}}</td>
                            <td><input class="inputQuantite" type="text" name="{{typeLec.id}}"></td>
                        </tr>      
                    {% endfor %}
                </table>   
                
                <input class="inputValiderCommande" type="submit" value="Lancer la commande">  
            </form>    
    
        {% endfor %}
    
    {% endif %}
    
    {% if fournisseursAutres is not empty %}
    <hr></hr>
        <h1>Fournisseur autre PF</h1>
        {% for fournisseurAutres in fournisseursAutres %}
        
            <h2>{{fournisseurAutres.nom}}</h2>
            
            <form method="post" action="{{ path('ic_approvisionnement_calcul_autre', {idFournisseur: fournisseurAutres.id}) }}">
                <table class="imp">
                    <tr>
                        <td class="titreReference">Référence</td>
                        <td class="titreDesignation">Designation</td>
                        <td class="titreQte">Qte</td>
                    </tr>
                    {% for autre in fournisseurAutres.autre %}
                        <tr>
                            <input type="hidden" name="listId[]" value="{{autre.id}}">
                            <td>{{autre.reference}}</td>
                            <td class="designation">{{autre.designation}}</td>
                            <td><input class="inputQuantite" type="text" name="{{autre.id}}"></td>
                        </tr>
                    {% endfor %}
                </table>  
                
                <input class="inputValiderCommande" type="submit" value="Lancer la commande">  
            </form>   
        {% endfor %}
    {% endif %}
{% endblock %}
