{% extends 'ICApprovisionnementBundle::layout.html.twig' %}

{% block title %} {{ parent() }} - Identifiants{% endblock %}

{% block entete %} {{ parent() }} Identifiants{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	
	{% stylesheets filter='cssrewrite'
	'@ICApprovisionnementBundle/Resources/public/css/approPF.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
    
{% endblock %}

{% block page %}

    {{ parent() }}
    
    {% for fournisseur in fournisseurs %}
    
        <h2>{{ fournisseur.nom }}</h2>
        
        <form method="post" action="{{ path('ic_approvisionnement_calcul_identifiant', {idFournisseur: fournisseur.id}) }}">
            <table>
                <tr>
                    <td class="titreReference">Référence</td>
                    <td class="titreDesignation">Désignation</td>
                    <td class="titreQte">Qte</td>
                </tr>
                {% for id in fournisseur.badgeFournisseur %}
                    <tr>
                        <input type="hidden" name="listId[]" value="{{id.typeBadge.id}}">
                        <td>{{id.typeBadge.reference}}</td>
                        <td class="designation">{{id.typeBadge.designation}}</td>
                        <td><input class="inputQuantite" name="{{id.typeBadge.id}}">
                    </tr>
                {% endfor %}
            </table>
            
            <input class="inputValiderCommande" type="submit" value="Lancer la commande">
            
        </form>
        
    {% endfor %}
{% endblock %}

{% block javascripts %}

	{{ parent() }}

{% endblock %}
