{% extends "ICAdministrationBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Fiche Descriptive{% endblock %}

{% block entete %}{{ parent() }} Fiche Descriptive{% endblock %}

{% block stylesheets %}

	{{ parent() }}
    
	{% stylesheets filter='cssrewrite'
	'@ICAdministrationBundle/Resources/public/css/ficheDesciptive.css'
     '@ICAdministrationBundle/Resources/public/css/produitFini.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
{% endblock %}

{% block page %}

	{{ parent()}}
    
    <h1>Lecteur IDcapt</h1>
    
    {{ form_start(formFicheDescriptive) }}
    
        <table>
            <tr>
                <td class="titreReferenceLecteur">Nom</td>
                <td class="titreDesignation">Désignation</td>
                <td class="titreFrequence">Fréquence</td>
                <td class="titreEtiquette">Petite</td>
                <td class="titreEtiquette">Moyenne</td>
                <td class="titreEtiquette">Grande</td>
            </tr>
            <tr>
                <td class="titreDesignation">{{ form_widget(formFicheDescriptive.nom) }}</td>
                <td class="titreDesignation">{{ form_widget(formFicheDescriptive.designation, {attr: {'class': 'inputDesignation'}}) }}</td>
                <td class="titreDesignation">{{ form_widget(formFicheDescriptive.frequence) }}</td>
                <td class="titreDesignation">{{ form_widget(formFicheDescriptive.petite) }}</td>
                <td class="titreDesignation">{{ form_widget(formFicheDescriptive.moyenne) }}</td>
                <td class="titreDesignation">{{ form_widget(formFicheDescriptive.grande) }}</td>
            </tr>  
        </table>
        <input class="inputValider" type="submit" value="modifier la fiche">
    
    {{ form_end(formFicheDescriptive) }}
    
    <h2>Liste des options du lecteur</h2>
    
    {{ form_start(formFicheDescriptiveOptionType) }}
    
        {% if idFicheOption == 0 %}

            <table>
                <tr>
                    <td class="titreDesignation">Désignation</td>
                    <td class="titreFrequence">Type de lecteur</td>
                </tr>
                <tr>
                    <td class="titreDesignation">{{ form_widget(formFicheDescriptiveOptionType.designation, {attr: {'class': 'inputDesignation'}}) }}</td>
                    <td class="titreDesignation">{{ form_widget(formFicheDescriptiveOptionType.sousTypeLecteur) }}</td>
                </tr> 
                <tr>
                    <td class="titreDesignation" colspan="2">Options</td>
                </tr> 
                <tr>
                    <td class="titreDesignation" colspan="2">{{ form_widget(formFicheDescriptiveOptionType.optionFicheDescriptive) }}</td>
                </tr> 
            </table>
            <input class="inputValider" type="submit" value="nouveau lecteur">
            <br>
        {% endif %}

        {% for ficheDesciptiveOption in  listeFicheDescriptiveOption %}
        
            {% set nom = nomFiche %}

            {# AJOUT DES OPTIONS AU NOM DE LA FICHE #}
            {% for optionFicheDescriptive in ficheDesciptiveOption.optionFicheDescriptive %}
                {% set nom = nom|upper ~'-'~ optionFicheDescriptive.optionProduitfini.abreviation|upper %}
            {% endfor %}
            
            <table>
                <tr>
                    <td class="titreNom">Nom</td>
                    <td class="titreDesignation">Designation</td>
                    <td class="titreTypeLecteur">Type de lecteur</td>
                    <td class="titreDetails"></td>
                </tr>
                
                    {% if ficheDesciptiveOption.id == idFicheOption %}
                        <tr>
                            <td class="titreNom">{{ nom }}</td>
                            <td class="titreDesignation">{{ form_widget(formFicheDescriptiveOptionType.designation, {attr: {'class': 'inputDesignation'}}) }}</td>
                            <td class="titreDesignation">{{ form_widget(formFicheDescriptiveOptionType.sousTypeLecteur) }}</td>
                            <td class="titreDetails"></td>
                        </tr> 
                        <tr>
                            <td class="titreDesignation" colspan="3">Options</td>
                            <td class="titreDetails"></td>
                        </tr> 
                        <tr>
                            <td class="titreDesignation" colspan="3">{{ form_widget(formFicheDescriptiveOptionType.optionFicheDescriptive) }}</td>
                            <td class="titreDetails"><input class="buttonUpdate" type="submit"></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ nom }}</td>
                            <td>{{ficheDesciptiveOption.designation}}</td>
                            <td>{{ficheDesciptiveOption.sousTypeLecteur.nom}}</td>    
                            <td class="titreDetails">
                                <a id="ancre_{{ idFiche }}" href="{{ path('ic_administration_affichage_fiche_descriptive_detail', {'idFiche': idFiche, 'idFicheOption': ficheDesciptiveOption.id}) }}#ancre_{{ idFiche }}">
                                    {% image '@ICAffichageBundle/Resources/public/img/fleche.png' %}
                                        <img id="" class="flecheDetails" src="{{ asset_url }}" alt="Fleche Détail" />
                                    {% endimage %}
                                </a>
                            </td>
                        </tr> 
                    {% endif %}          
                
                <tr>
                    <td class="titreDesignation" colspan="3">Liste des versions</td>
                    <td class="titreDetails"></td>
                </tr>
                {# AFFICHAGE DES VERSIONS #}
                {% for versionFicheDescriptive in ficheDesciptiveOption.versionFicheDescriptive %}
                    <tr>
                        <td>Version {{ versionFicheDescriptive.version}} 
                        {% if loop.last %}
                            <a class="versionPlus" href="{{ path('ic_administration_add_version_fiche_descriptive', {'idFicheDescriptiveOption': versionFicheDescriptive.ficheDescriptiveOption.id, 'idFiche': idFiche}) }}"></a>
                        {% endif %}
                        </td>
                        {% if versionFicheDescriptive.nomenclatureFicheDescriptive is not empty %}
                            {% set nbNomenlature = versionFicheDescriptive.nomenclatureFicheDescriptive|length %}

                            <td colspan ="2">{{ nbNomenlature }} nomenclatures liées : 

                            {% for nomenclatureFicheDescriptive in versionFicheDescriptive.nomenclatureFicheDescriptive %}
                                {{ nomenclatureFicheDescriptive.versionNomenclature.nomenclature.nom ~ 'V-' ~ nomenclatureFicheDescriptive.versionNomenclature.version }}{% if not loop.last %}, {% endif %}
                            {% endfor %}   

                            </td>
                        {% else %}
                            <td colspan ="2">Aucune nomenclature liée</td>
                        {% endif %}
                        <td class="titreDetails">
                            <a href="{{ path('ic_administration_affichage_fiche_descriptive_gestion_nomenclature', {'idVersionFicheDescriptive': versionFicheDescriptive.id}) }}">
                                {% image '@ICAffichageBundle/Resources/public/img/fleche.png' %}
                                    <img id="" class="flecheDetails" src="{{ asset_url }}" alt="Fleche Détail" />
                                {% endimage %}
                            </a>
                        </td>
                    <tr>
                {% endfor %}
                
            </table>
            <hr class="separation espaceOptionFicheDescriptive"/>
        {% endfor %}
        
    {{ form_end(formFicheDescriptiveOptionType) }}    
{% endblock %}

{% block javascripts %}

	{{ parent() }}
    
	{% javascripts '@ICAdministrationBundle/Resources/public/js/addOptionFicheTech.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
    
{% endblock %}