{{ form_start(form, {'attr': {'class': 'form-verical'}}) }}

<div id="recherche">
	{% image 'Resources/public/images/plus.png' %}
    	<img id="checkBox11" class="imgFlecheCheckBox" src="{{ asset_url }}" alt="Fleche Bas" />
	{% endimage %}
	{{ form_label(form.type, 'Type', {'label_attr': {'class': 'titreCheckBox', 'id': 'checkBox1'}}) }}
	<br>
	<div id="checkBox111" class="divCheckBox">
		{% for child in form.type %}
			{{ form_widget(child, {'attr': {'class': 'checkBox', 'value': loop.index}}) }}
			{{ form_label(child, child, {'label_attr': {'class': 'labelCheckBox'}}) }} <br>
		{% endfor %}
	</div>
	
	{% image 'Resources/public/images/plus.png' %}
    	<img id="checkBox21" class="imgFlecheCheckBox" src="{{ asset_url }}" alt="Fleche Bas" />
	{% endimage %}	
	{{ form_label(form.typeLecteur, 'Type Lecteur', {'label_attr': {'class': 'titreCheckBox', 'id': 'checkBox2'}}) }}
	<br>
	<div id="checkBox211" class="divCheckBox">
		{% for child in form.typeLecteur %}
			{{ form_widget(child, {'attr': {'class': 'checkBox', 'value': loop.index}}) }}
			{{ form_label(child, child, {'label_attr': {'class': 'labelCheckBox'}}) }} <br>
		{% endfor %}
	</div>
    
	{% image 'Resources/public/images/plus.png' %}
    	<img id="checkBox31" class="imgFlecheCheckBox" src="{{ asset_url }}" alt="Fleche Bas" />
	{% endimage %}	
	{{ form_label(form.typeAutre, 'Type Autre', {'label_attr': {'class': 'titreCheckBox', 'id': 'checkBox3'}}) }}
	<br>
	<div id="checkBox311" class="divCheckBox">
		{% for child in form.typeAutre %}
			{{ form_widget(child, {'attr': {'class': 'checkBox', 'value': loop.index}}) }}
			{{ form_label(child, child, {'label_attr': {'class': 'labelCheckBox'}}) }} <br>
		{% endfor %}
	</div>

	{{ form_widget(form.Trier, {'attr': {'class': 'submitTrie'}}) }}
</div>
{{ form_end(form) }}
