{% extends 'base.html.twig' %}
{% block title %}Approvisionnement{% endblock %}

{% block stylesheets %}

	{{ parent() }}
    
	{% stylesheets filter='cssrewrite'
	'@ICApprovisionnementBundle/Resources/public/css/layout.css'
	'@ICApprovisionnementBundle/Resources/public/css/menu_vertical.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
    
	{% stylesheets filter='cssrewrite'
	'@ICApprovisionnementBundle/Resources/public/css/impression.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="print">
	{% endstylesheets %}
{% endblock %}

{% block entete %}Approvisionnement{% endblock %}

{% block body %}
	<section id="menuVertical">
		{{ render(controller("ICApprovisionnementBundle:Menu:menu", {'url': app.request.attributes.get('_route')})) }}
	</section>
    <section id="page">
        {% block page %}
        
        {% endblock %}
    </section>
{% endblock %}

{% block javascripts %}

	{{ parent() }}
    
	{% javascripts
	'@ICApprovisionnementBundle/Resources/public/js/DymoLabelFramework.js'
	'@ICApprovisionnementBundle/Resources/public/js/labelPrinter.js'
	'@ICApprovisionnementBundle/Resources/public/js/menu_deroulant.js' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
