{% extends 'base.html.twig' %}

{% block title %}Affichage{% endblock %}
{% block stylesheets %}
	{% stylesheets filter='cssrewrite'
	'@ICAffichageBundle/Resources/public/css/layout.css'
	'@ICAffichageBundle/Resources/public/css/menu_vertical.css' %}
		{{ parent() }}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
	{% stylesheets filter='cssrewrite'
	'@ICAffichageBundle/Resources/public/css/impression.css' %}
		{{ parent() }}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="print">
	{% endstylesheets %}
{% endblock %}
{% block entete %}Affichage{% endblock %}

{% block body %}
	<section id="menuVertical">
		{{ render(controller("ICAffichageBundle:Menu:menu", {'url': app.request.attributes.get('_route')})) }}
	</section>
    <section id="page">
        {% block page %}
        
        {% endblock %}
    </section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% javascripts 
	'@ICAffichageBundle/Resources/public/js/*'
	'@ICAffichageBundle/Resources/public/js/tableExport/tableExport.js'
	'@ICAffichageBundle/Resources/public/js/tableExport/jquery.base64.js' 
	'@ICAffichageBundle/Resources/public/js/tableExport/jspdf/libs/sprintf.js' 
	'@ICAffichageBundle/Resources/public/js/tableExport/jspdf/jspdf.js' 
	'@ICAffichageBundle/Resources/public/js/tableExport/jspdf/libs/base64.js' 
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
