<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite'
            'Resources/public/css/base.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header id="entete">
            <img src="{{ asset('Resources/public/images/logo.png') }}" alt="logo idcapt">
            <div>{% block entete %}{% endblock %}</div>
        </header>
        <nav id="menuHorizontal">
        {% if partie == 'affichage' %}
            <span class="spanMenu">Affichage</span>
        {% else %}
            <a href="{{ path('ic_affichage_composant_interne') }}">Affichage</a>
        {% endif %}
        
        {% if partie == 'approvisionnement' %}
            <span class="spanMenu">Approvisionnement</span>
        {% else %}
            <a href="{{ path('ic_approvisionnement_mp_production') }}">Approvisionnement</a>
        {% endif %}
        
        {% if partie == 'production' %}
            <span class="spanMenu">Production</span>
        {% else %}        
            <a href="{{ path('ic_production_interne') }}">Production</a>
        {% endif %}
        
        {% if partie == 'test' %}
            <span class="spanMenu">Contrôle Qualité</span>
        {% else %}  
            <a href="{{ path('ic_test_affichage') }}">Contrôle Qualité</a>
        {% endif %}
        
        {% if partie == 'produit_fini' %}
            <span class="spanMenu">Produit Fini</span>
        {% else %}  
            <a href="{{ path('ic_produit_fini_affichage') }}">Produit Fini</a>
        {% endif %}
        
        {% if partie == 'Administration' %}
            <span class="spanMenu">Administration</span>
        {% else %}  
            <a href="{{ path('ic_administration_matiere_premiere') }}">Administration</a>
        {% endif %}
        
        </nav>
        {% block body %}{% endblock %}
        
        {% block javascripts %}
            {% javascripts 
	        'js/jquery.js' %}
	           <script type="text/javascript" src="{{ asset_url }}"></script>
	       {% endjavascripts %}
        {% endblock %}
    </body>
</html>
