{% extends "ICAdministrationBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Nomenclature{% endblock %}

{% block entete %}{{ parent() }} Nomenclature{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite'
	'@ICAdministrationBundle/Resources/public/css/nomenclature.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
{% endblock %}

{% block page %}

	{{ parent()}}
    
    {% if allVersion == 0 %}
        <a class="lienAffNomenclature" href="{{ path('ic_administration_nomenclature', {allVersion: 1}) }}">Afficher toutes les versions</a>
    {% else %}
        <a class="lienAffNomenclature" href="{{ path('ic_administration_nomenclature', {allVersion: 0}) }}">Afficher les dernières versions</a>
    {% endif %}
    
    {% if modifNomenclature != 0 %}
        <form method="post" action="{{ path('ic_administration_update_nomenclature', {idNomenclature: modifNomenclature}) }}">
    {% else %}
        <form method="post" action="{{ path('ic_administration_add_nomenclature') }}">
    {% endif %}
    
    <table class="tabNomenclature">
        <tr>
            <td class="titreDesignation" colspan="2">Designation</td>
            <td class="titreVersion">Version</td>
            <td class="titreNomenclature" colspan="2">Nomenclature</td>
        </tr>
        
        {% if allVersion == 0  and modifNomenclature == 0 %}
            <tr>
                <td class="titreDesignation"><input class="inputDesignation" type="text" name="nomenclature"></td>
                <td class="titreDesignation"><input type="submit" value="" class="buttonAdd"></td>
                <td class="titreDesignation" colspan="4"></td>
            </tr>
        {% endif %}
            
    {% if nomenclatures is not empty %}
     
        {% set idNomenclature = 0 %}
       
        {% for versionNomenclature in nomenclatures %}
        
            {% if versionNomenclature.nomenclature.id != idNomenclature or allVersion == 1 %}
            
                {% set idNomenclature = versionNomenclature.nomenclature.id %}        
                
                <tr>
                    {% if allVersion == 0  and modifNomenclature == 0 %}
                        <td class="">{{ versionNomenclature.nomenclature.nom }}</td>          
                        <td class="details">
                        {% image 'Resources/public/images/fleche.png' %}
                            <a href="{{ path('ic_administration_nomenclature', {idNomenclature: versionNomenclature.nomenclature.id}) }}">
                                <img id="" class="flecheDetails" src="{{ asset_url }}" alt="Fleche Détail" />
                            </a>
                        {% endimage %}
                            
                        </td> 
                    {% else %}
                        {% if modifNomenclature == versionNomenclature.nomenclature.id %}
                            <td class="titreDesignation"><input class="inputDesignation" type="text" name="nomNomenclature" value="{{ versionNomenclature.nomenclature.nom }}" onfocus="this.value = ''" onblur="if(this.value == '') { this.value = '{{ versionNomenclature.nomenclature.nom }}' }"></td> 
                            <td class="titreDesignation"><input type="submit" value="" class="buttonUpdate"></td>
                            <td class="titreDesignation">{{ versionNomenclature.version }}</td>
                            <td class="titreDesignation"><a class="lienNomenclatureCompModif" href="{{ path('ic_administration_composant_nomenclature', {idNomenclature: versionNomenclature.id}) }}">PCB</a></td>
                            <td class="titreDesignation"><a class="lienNomenclatureCompModif" href="{{ path('ic_administration_produit_fini_nomenclature', {idNomenclature: versionNomenclature.id}) }}">Produit Fini</a></td> 
                        {% else %}
                            <td colspan="2" class="">{{ versionNomenclature.nomenclature.nom }}</td>  
                        {% endif %}
                    {% endif %}
                    
                    {% if modifNomenclature != versionNomenclature.nomenclature.id %}
                            <td>
                                {{ versionNomenclature.version }}
                                {% if allVersion == 0 %}
                                    <a class="versionPlus" href="{{ path('ic_administration_add_version_nomenclature', {idNomenclature: versionNomenclature.nomenclature.id}) }}"></a>
                                {% endif%}
                            </td>
                            <td class="caseLienNomenclature"><a class="lienNomenclatureComp" href="{{ path('ic_administration_composant_nomenclature', {idNomenclature: versionNomenclature.id}) }}">PCB</a></td>
                            <td><a class="lienNomenclatureComp" href="{{ path('ic_administration_produit_fini_nomenclature', {idNomenclature: versionNomenclature.id}) }}">Produit Fini</a></td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}         
    {% endif %}
        </table>
    </form>
{% endblock %}
