{% extends "ICAdministrationBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Nomenclature{% endblock %}

{% block entete %}{{ parent() }} Nomenclature{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite'
	'@ICAdministrationBundle/Resources/public/css/nomenclature.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
{% endblock %}

{% block page %}

	{{ parent() }}
    
    <h1>{{ versionNomenclature[0].nomenclature.nom }}-V{{ versionNomenclature[0].version}}</h1>
        
    <form method="post" action="{{ path('ic_administration_update_produit_fini_nomenclature', {idNomenclature: idNomenclature}) }}">
        <table>
            <tr>
                <td class="titreFamille">Famille</td>
                <td class="titreFamille">Sous Famille</td>
                <td class="titreDesignation">Designation</td>
               <td class="titreBoitier">Boitier</td>
                <td class="titreQteNomenclature">Qte</td>
            </tr>
            {% for composant in composants %}
                <input type="hidden" name="listId[]" value="{{ composant.id }}">
                {% set existe = 0 %}
                <tr>
                    <td>{{ composant.famille.nom }}</td>
                    <td class="sousFamille">
                        {% if composant.idSousFamille != 0 %}
                            {{composant.SousFamille.nom}}
                        {% endif %}
                    </td>
                    <td class="designation">{{ composant.nom }}</td>
                    <td>{{ composant.boitier }}</td>
                    
                    {% for produitFiniNomenclature in versionNomenclature[0].produitFiniNomenclature %}
                        {% if composant.id == produitFiniNomenclature.idComposant %}
                            {% set existe = 1 %}
                            <td><input class="inputQuantite" type="text" name="{{ composant.id }}" value="{{ produitFiniNomenclature.quantite }}" onfocus="this.value = ''" onblur="if(this.value == '') { this.value = '{{ produitFiniNomenclature.quantite }}' }"></td>
                        {% endif %}           
                    {% endfor %}
                    
                    {% if existe == 0 %}
                        <td><input class="inputQuantite" type="text" name="{{ composant.id }}"></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Valider la nomenclature" class="inputValider largest">
    </form>
{% endblock %}
