{% extends "ICAffichageBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Stock Interne{% endblock %}

{% block entete %}{{ parent() }} Stock Interne{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite'
	'@ICAffichageBundle/Resources/public/css/interne.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
{% endblock %}

{% block page %}
	{{ parent()}}
	
	<h1>Stock Interne Par Fournisseur</h1>
	
	{% for composants in composants1 %}

	<h2>{{composants[0].fournisseur.nom}}</h2>
	
	<table class="imp">
		<tr>
			<th class="titreFamille">Famille</th>
			<th class="titreSousFamille">Sous Famille</th>
			<th class="titreDesignation">Désignation</th>
			<th class="titreBoitier">Boitier</th>
			<th class="titreStock">Stock mini</th>
			<th class="titreStock">Stock</th>
			<th class="titreDetails"></th>
		</tr>
	
		{% for composant in composants %}
			{% if 0 in etat %}	

				<tr class="{% if composant.composant.stockMini > composant.composant.stockInterne %}stockInsufisant {% endif %}ligneStock">
					<td class="famille">{{composant.composant.Famille.nom}}</td>
					<td class="sousFamille">
                        {% if composant.idSousFamille != 0 %}
                            {{composant.SousFamille.nom}}
                        {% endif %}
                    </td>
					<td class="designation">{{composant.composant.nom}}</td>
					<td class="boitier">{{composant.composant.boitier}}</td>
					<td class="stock">{{composant.composant.stockMini}}</td>
					<td class="stock">{{composant.composant.stockInterne}}</td>
					<td class="details">
						<a href="">
						{% image '@ICAffichageBundle/Resources/public/img/fleche.png' %}
							<img id="" class="flecheDetails" src="{{ asset_url }}" alt="Fleche Détail" />
						{% endimage %}
						</a>
					</td>
				</tr>			
			{% else %}
				{% if '1' in etat[0] and '2'  not in etat[0] %}
					{% if composant.composant.stockMini <= composant.composant.stockInterne %}		
						<tr class="{% if composant.composant.stockMini > composant.composant.stockInterne %}stockInsufisant {% endif %}ligneStock">
							<td class="famille">{{composant.composant.Famille.nom}}</td>
							<td class="sousFamille">
                                {% if composant.idSousFamille != 0 %}
                                    {{composant.SousFamille.nom}}
                                {% endif %}
                            </td>
							<td class="designation">{{composant.composant.nom}}</td>
							<td class="boitier">{{composant.composant.boitier}}</td>
							<td class="stock">{{composant.composant.stockMini}}</td>
							<td class="stock">{{composant.composant.stockInterne}}</td>
							<td class="details">
								<a href="">
								{% image '@ICAffichageBundle/Resources/public/img/fleche.png' %}
									<img id="" class="flecheDetails" src="{{ asset_url }}" alt="Fleche Détail" />
								{% endimage %}
								</a>
							</td>
						</tr>
					{% endif %}
				{% elseif '2' in etat[0] and '1'  not in etat[0] %}
					{% if composant.composant.stockMini > composant.composant.stockInterne %}
						<tr class="{% if composant.composant.stockMini > composant.composant.stockInterne %}stockInsufisant {% endif %}ligneStock">
							<td class="famille">{{composant.composant.Famille.nom}}</td>
							<td class="sousFamille">
                                {% if composant.idSousFamille != 0 %}
                                    {{composant.SousFamille.nom}}
                                {% endif %}
                            </td>
							<td class="designation">{{composant.composant.nom}}</td>
							<td class="boitier">{{composant.composant.boitier}}</td>
							<td class="stock">{{composant.composant.stockMini}}</td>
							<td class="stock">{{composant.composant.stockInterne}}</td>
							<td class="details">
								<a href="">
								{% image '@ICAffichageBundle/Resources/public/img/fleche.png' %}
									<img id="" class="flecheDetails" src="{{ asset_url }}" alt="Fleche Détail" />
								{% endimage %}
								</a>
							</td>
						</tr>			
					{% endif %}
				{% else %}	
					<tr class="{% if composant.composant.stockMini > composant.composant.stockInterne %}stockInsufisant {% endif %}ligneStock">
						<td class="famille">{{composant.composant.Famille.nom}}</td>
						<td class="sousFamille">
                            {% if composant.idSousFamille != 0 %}
                                {{composant.SousFamille.nom}}
                            {% endif %}
                        </td>
						<td class="designation">{{composant.composant.nom}}</td>
						<td class="boitier">{{composant.composant.boitier}}</td>
						<td class="stock">{{composant.composant.stockMini}}</td>
						<td class="stock">{{composant.composant.stockInterne}}</td>
						<td class="details">
							<a href="">
							{% image '@ICAffichageBundle/Resources/public/img/fleche.png' %}
								<img id="" class="flecheDetails" src="{{ asset_url }}" alt="Fleche Détail" />
							{% endimage %}
							</a>
						</td>
					</tr>			
				{% endif %}
			{% endif %}
		{% endfor %}
	</table>
	{% endfor %}
{% endblock %}
