{% extends "ICAdministrationBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Identifiants{% endblock %}

{% block entete %}{{ parent() }} Identifiants{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite'
	'@ICAdministrationBundle/Resources/public/css/produitFini.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
{% endblock %}

{% block page %}

	{{ parent()}}
    <h1>Identifiants</h1>
    {% if identifiants is not empty %}
    
        {{ form_start(form) }}
            <table>
                <tr>
                    <td class="titreReference">Reference</td>
                    <td class="titreDesignation">Désignation</td>
                    <td  class="titreType">Type</td>
                    <td class="titreFrequence">Fréquence</td>
                    <td class="details"></td>
                </tr>
                <tr>
                    <td class="titreDesignation">{{ form_widget(form.reference) }}</td>
                    <td class="titreDesignation">{{ form_widget(form.designation, {attr: {'class': 'inputDesignation'}}) }}</td>
                    <td class="titreDesignation">{{ form_widget(form.sousTypeBadge) }}</td>
                    <td class="titreDesignation">{{ form_widget(form.frequence) }}</td>
                    <td class="details">{{ form_widget(form.submit_identifiant, {attr: {'class': 'buttonAdd'}}) }}</td>
                </tr>

                {% for id in identifiants %}
                    <tr>
                        <td>{{ id.reference }}</td>
                        <td class="designation">{{ id.designation }}</td>
                        <td>{{ id.sousTypeBadge.nom }}</td>
                        <td>
                            {% if id.frequence == 1 %}
                                13.56 MHz
                            {% elseif id.frequence == 2 %}
                                125 KHz
                            {% else%}
                                900 MHz
                            {% endif %}
                        </td>
                        <td class="details">
                            <a href="{{ path('ic_administration_affichage_produit_fini_identifiant_detail', {'idIdentifiant': id.id}) }}">
                                {% image '@ICAffichageBundle/Resources/public/img/fleche.png' %}
                                    <img id="" class="flecheDetails" src="{{ asset_url }}" alt="Fleche Détail" />
                                {% endimage %}
                            </a>
                        </td>
                    </tr>                           
                {% endfor %}
            </table>
        {{ form_end(form) }}
        
    {% else %}
        
        {{ form_start(form) }}
            <table>
                <tr>
                    <td class="titreReference">Reference</td>
                    <td class="titreDesignation">Désignation</td>
                    <td  class="titreType">Type</td>
                    <td class="titreFrequence">Fréquence</td>
                    <td class="details"></td>
                </tr>
                <tr>
                    <td class="titreDesignation">{{ form_widget(form.reference) }}</td>
                    <td class="titreDesignation">{{ form_widget(form.designation, {attr: {'class': 'inputDesignation'}}) }}</td>
                    <td class="titreDesignation">{{ form_widget(form.sousTypeBadge) }}</td>
                    <td class="titreDesignation">{{ form_widget(form.frequence) }}</td>
                    <td class="details">{{ form_widget(form.submit_identifiant, {attr: {'class': 'buttonAdd'}}) }}</td>
                </tr>
            </table>
        {{ form_end(form) }}
        
    {% endif %}
{% endblock %}
