{% extends "ICAdministrationBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Stock Interne{% endblock %}

{% block entete %}{{ parent() }} Stock Interne{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite'
    '@ICAdministrationBundle/Resources/public/css/produitFini.css'
	'@ICAdministrationBundle/Resources/public/css/detail.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
{% endblock %}

{% block page %}

	{{ parent()}}
    
    {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}
        <table>
            <tr>
                <td class="titreReference">Reference</td>
                <td class="titreDesignation">Désignation</td>
                <td  class="titreType">Type</td>
                <td class="titreFrequence">Fréquence</td>
            </tr>
            <tr>
                <td class="titreDesignation">{{ form_widget(form.reference) }}</td>
                <td class="titreDesignation">{{ form_widget(form.designation, {attr: {'class': 'inputDesignation'}}) }}</td>
                <td class="titreDesignation">{{ form_widget(form.sousTypeBadge) }}</td>
                <td class="titreDesignation">{{ form_widget(form.frequence) }}</td>
            </tr>
        </table>
        {{ form_widget(form.submit_identifiant, {'attr': {'class': 'inputValiderCommande'}}) }}
        
    {{ form_end(form) }}
    
    <h2>Liste des fournisseurs</h2>

    {{ form_start(form1, {'attr': {'class': 'form-vertical'}}) }}

        <table class="tableDetailFournisseur">
            <tr>
                <td class="titreSupprimer"></td>
                <td class="titreFournisseur">Fournisseur</td>
                <td class="titreReference">Référence</td>
                <td class="titrePrix">Prix Unitaire</td>
                <td class="details"></td>
            </tr>
            
            {% if idIdentifiantFournisseur == 0 %}
                <tr>
                    <td class="supprimer"></td>
                    <td class="titreFournisseur">{{ form_widget(form1.fournisseur, {'attr': {'class': 'inputListe'}}) }}</td>
                    <td class="titreReference">{{ form_widget(form1.reference, {'attr': {'class': 'inputDesignation'}}) }}</td>
                    <td class="titrePrix">{{ form_widget(form1.prix, {'attr': {'class': 'inputQuantite'}}) }}</td>
                    <td class="details">{{ form_widget(form1.submit_badge_fournisseur) }}</td>
                </tr>   
            {% endif %}
            
                {% for badgeFournisseur in badgesFournisseurs %}
                
                    {% if idIdentifiantFournisseur == badgeFournisseur.id %}
                        <td class="supprimer"></td>
                        <td class="titreFournisseur">{{ form_widget(form1.fournisseur, {'attr': {'class': 'inputListe', }}) }}</td>
                        <td class="titreReference">{{ form_widget(form1.reference, {'attr': {'class': 'inputDesignation', 'onfocus': 'this.value = ""'}}) }}</td>
                        <td class="titrePrix">{{ form_widget(form1.prix, {'attr': {'class': 'inputQuantite', 'onfocus': 'this.value = ""'}}) }}</td>
                        <td class="details">{{ form_widget(form1.submit_badge_fournisseur) }}</td>
                    {% else %}
                        <tr>
                            <td class="supprimer">
                                <a href="{{ path('ic_administration_identifiant_fournisseur_delete', {'idBadgeFournisseur': badgeFournisseur.id}) }}">
                                    {% image 'Resources/public/images/redcroix.png' %}
                                        <img class="flecheDetails" src="{{ asset_url }}" alt="Fleche Détail" />
                                    {% endimage %}
                                </a>                        
                            </td>
                            <td>{{badgeFournisseur.fournisseur.nom}}</td>
                            <td>{{badgeFournisseur.reference}}</td>
                            <td>{{badgeFournisseur.prix|number_format(4, '.', ' ')}} €</td>
                            <td class="details">
                                <a href="{{ path('ic_administration_affichage_produit_fini_identifiant_detail', {'idIdentifiant': badgeFournisseur.idTypeBadge,'idBadgeFournisseur': badgeFournisseur.id}) }}">
                                    {% image '@ICAffichageBundle/Resources/public/img/fleche.png' %}
                                        <img id="" class="flecheDetails" src="{{ asset_url }}" alt="Fleche Détail" />
                                    {% endimage %}
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                    
                {% endfor %}
            </table>
        {{ form_end(form1) }}
 
{% endblock %}
