{% extends 'ICApprovisionnementBundle::layout.html.twig' %}

{% block title %} {{ parent() }} - En Cours Matières Premières{% endblock %}

{% block entete %} {{ parent() }} En Cours Matières Premières{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	
	{% stylesheets filter='cssrewrite'
	'@ICApprovisionnementBundle/Resources/public/css/approMPEnCours.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
    
{% endblock %}

{% block page %}

    {{ parent() }}

    {% if approvisionnement is empty %}
		<div class="infoPageVide">Aucun approvisionnement de matière première en cours</div>
	{% else %}
	
		{% for appro in approvisionnement %}
		
            <h1>{{ appro.fournisseur.nom }} le {{ appro.dateCommande|date('d-m-Y') }}</h1>
            
            <table class="imp">
                <tr>
                    <td class="titreFamille">Famille</td>
                    <td class="titreSousFamille">Sous Famille</td>
                    <td class="titreDesignation">Designation</td>
                    <td class="titreBoitier">Boitier</td>
                    <td class="titreQte">Qte</td>
                </tr>
                {% for approComposant in appro.approComposant %}
                    <tr>
                        <td>{{ approComposant.composant.famille.nom }}</td>
                        <td class="sousFamille">
                            {% if approComposant.composant.idSousFamille != 0 %}
                                {{ approComposant.composant.SousFamille.nom }}
                            {% endif %}
                        </td>
                        <td class="designation">{{ approComposant.composant.nom }}</td>
                        <td>{{ approComposant.composant.boitier }}</td>
                        <td>{{ approComposant.quantite }}</td>
                    </tr>
                {% endfor %}
            </table>
            <a class="lienValiderCommande" href={{ path('ic_approvisionnement_vers_stock', {idCommande: appro.id}) }}>Commande réceptionnée</a>
	    {% endfor %}
    {% endif %}

{% endblock %}
