{% extends 'ICApprovisionnementBundle::layout.html.twig' %}

{% block title %} {{ parent() }} - En cours Autres Produits finis {% endblock %}

{% block entete %} {{ parent() }} En cours Autres Produits finis {% endblock %}

{% block stylesheets %}

	{{ parent() }}
	
	{% stylesheets filter='cssrewrite'
	'@ICApprovisionnementBundle/Resources/public/css/approPFEnCours.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
    
{% endblock %}

{% block page %}

    {{ parent() }}

    {% if approLecteurs is empty and approAutres is empty %}
        <div class="infoPageVide">Aucun approvisionnement de produit fini</div>
    {% else %}

        {% if approLecteurs is not empty %}
        
            {% for appro in approLecteurs %}
            
                    <h2>{{ appro.fournisseur.nom }} le {{appro.dateCommande|date('d-m-Y')}}</h2>
                    
                    <table class="imp">
                        <tr>
                            <td class="titreReference">référence</td>
                            <td class="titreDesignation">Designation</td>
                            <td class="titreQte">Qte</td>
                        </tr>
                        
                        {% for approLecteur in appro.approLecteur %}
                            <tr>
                                <td>{{approLecteur.typeLecteurAutre.reference}}</td>
                                <td class="designation">{{approLecteur.typeLecteurAutre.designation}}</td>
                                <td>{{approLecteur.quantite}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    
                        <a class="lienValiderCommande" href="{{ path('ic_approvisionnement_vers_lecteur',{idCommande: appro.id}) }}">Commande réceptionnée</a>  
                        
                        {% if approAutres is not empty %}
                            <hr>
                        {% endif %}
            {% endfor %}
        {% endif %}

        {% if approAutres is not empty %}
       
            {% for appro in approAutres %}

                <h2>{{ appro.fournisseur.nom }} le {{appro.dateCommande|date('d-m-Y')}}</h2>
                
                <table class="imp">
                    <tr>
                        <td class="titreReference">référence</td>
                        <td class="titreDesignation">Designation</td>
                        <td class="titreQte">Qte</td>
                    </tr>
                    {% for approAutre in appro.approAutre %}
                        <tr>
                            <td>{{approAutre.Autre.reference}}</td>
                            <td class="designation">{{approAutre.Autre.designation}}</td>
                            <td>{{approAutre.quantite}}</td>
                        </tr>                   
                    {% endfor %}
                </table>    
                    <a class="lienValiderCommande" href="{{ path('ic_approvisionnement_vers_autre',{idCommande: appro.id}) }}">Commande réceptionnée</a>    
            {% endfor %}
        {% endif %}
	{% endif %}
{% endblock %}
