{% extends 'ICApprovisionnementBundle::layout.html.twig' %}

{% block title %} {{ parent() }} - En Cours Identifiants{% endblock %}

{% block entete %} {{ parent() }} En Cours Identifiants{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	
	{% stylesheets filter='cssrewrite'
	'@ICApprovisionnementBundle/Resources/public/css/approPFEnCours.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
    
{% endblock %}

{% block page %}

    {{ parent() }}
	
	{% if approvisionnement is empty %}
			<div class="infoPageVide">aucun approvisionnement de d'identifiant en cours</div>
	{% else %}
	
		{% for appro in approvisionnement %}
        
            <h2>{{ appro.fournisseur.nom }} le {{appro.dateCommande|date('d-m-Y')}}</h2>
            
            <table class="imp">
                <tr>
                    <td class="titreReference">référence</td>
                    <td class="titreDesignation">Designation</td>
                    <td class="titreQte">Qte</td>
                </tr>
                {% for approIdentifiant in appro.approIdentifiant %}
                    <tr>
                        <td>{{approIdentifiant.typeBadge.reference}}</td>
                        <td class="designation">{{approIdentifiant.typeBadge.designation}}</td>
                        <td>{{approIdentifiant.quantite}}</td>
                    </tr>
                {% endfor %}
            </table>
            
            <a class="lienValiderCommande" href="{{ path('ic_approvisionnement_vers_identifiant', {idCommande: appro.id}) }}">Commande réceptionnée</a>
        {% endfor %}
	{% endif %}
{% endblock %}
