{% extends "ICAffichageBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Nomenclature PCB{% endblock %}

{% block entete %}{{ parent() }} Nomenclature PCB{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite'
	'@ICAffichageBundle/Resources/public/css/sous_traitant.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
{% endblock %}

{% block page %}

    {{ parent() }}
    
	{% if nomenclatures is not empty %}
    
		<h1>{{nomenclatures[0].version.nomenclature.nom}} - V{{nomenclatures[0].version.version}}</h1>
        
			<table class="imp">
				<tr>
					<td class="titreFamille">Famille</td>
					<td class="titreFamille">Sous Famille</td>
					<td class="titreDesignation">Désignation</td>
					<td class="titreBoitier">Boitier</td>
					<td class="titreStock">Quantité</td>
					<td class="titreStock">Position</td>
					<td class="titreDetails"></td>
				</tr>
                
				{% for nomenclature in nomenclatures %}
					<tr>
						<td class="famille">{{nomenclature.composant.Famille.nom}}</td>
                        <td class="sousFamille">
                            {% if nomenclature.composant.idSousFamille != 0 %}
                                {{nomenclature.composant.sousFamille.nom}}
                            {% endif %}
                        </td>
						<td class="designation">{{nomenclature.composant.nom}}</td>
						<td class="boitier">{{nomenclature.composant.boitier}}</td>
						<td class="stock">{{nomenclature.quantite}}</td>
						<td class="stock">{{nomenclature.position}}</td>
						<td class="details">
							<a href="">
							{% image '@ICAffichageBundle/Resources/public/img/fleche.png' %}
								<img id="" class="flecheDetails" src="{{ asset_url }}" alt="Fleche Détail" />
							{% endimage %}
							</a>
						</td>
					</tr>
				{% endfor %}
			</table>
	{% else %}
		<div class="infoPageVide">Cette nomenclature ne contient pas de composant</div>
	{% endif %}
{% endblock %}
