{% extends "ICAdministrationBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Stock Interne{% endblock %}

{% block entete %}{{ parent() }} Stock Interne{% endblock %}

{% block stylesheets %}

	{{ parent() }}
    
	{% stylesheets filter='cssrewrite'
	'@ICAdministrationBundle/Resources/public/css/firmware.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
{% endblock %}

{% block page %}

	{{ parent()}}
    
    {% if form[0] is not null %}
        {% for nomenclature in nomenclatures %}
        
            {% if idFirmware != 0 %}
                {{ form_start(form) }}
            {% else %}
                {{ form_start(form[loop.index0]) }}
            {% endif %}
            
                <table class="tabFirmware">
                    <tr>
                        <td class="titreDesignation">{{ nomenclature.nom }}</td><td class="details"></td>
                    </tr>
                    
                    {% if idFirmware == 0 %}
                        <tr>
                            <td class="titreDesignation">{{ form_widget(form[loop.index0].nom, {attr : {'class':'inputDesignation'}}) }}</td><td class="details" rowspan="2">{{ form_widget(form[loop.index0].submit_firmware) }}</td>
                        </tr>
                        <tr>
                            <td class="titreDesignation">{{ form_widget(form[loop.index0].commentaire, {attr : {'class':'inputDesignation inputTextarea', 'placeholder': 'Commentaires...'}}) }}</td>
                        </tr>
                    {% endif %}
                    
                    {% for firmware in nomenclature.firmware %}
                        {% if idFirmware == firmware.id %}
                            <tr>
                                <td class="titreDesignation">{{ form_widget(form.nom, {attr : {'class':'inputDesignation'}}) }}</td><td class="details" rowspan="2">{{ form_widget(form.submit_firmware, {'attr': {'class': 'buttonUpdate'}}) }}</td>
                            </tr>
                            <tr>
                                <td class="titreDesignation">{{ form_widget(form.commentaire, {attr : {'class':'inputDesignation inputTextarea', 'placeholder': 'Commentaires...'}}) }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="designation">{{ firmware.nom }}</td>
                                <td class="details">
                                    <a href="{{ path('ic_administration_affichage_firmware', {'idFirmware': firmware.id}) }}">
                                        {% image '@ICAffichageBundle/Resources/public/img/fleche.png' %}
                                            <img id="" class="flecheDetails" src="{{ asset_url }}" alt="Fleche Détail" />
                                        {% endimage %}
                                    </a>
                                </td>
                            </tr>        
                        {% endif %}
                    {% endfor %}
                </table>
                
            {% if idFirmware != 0 %}
                {{ form_widget(form.idNomenclature, {attr : {'value': nomenclature.id}}) }}
                {{ form_end(form) }}
            {% else %}
                {{ form_widget(form[loop.index0].idNomenclature, {attr : {'value': nomenclature.id}}) }}
                {{ form_end(form[loop.index0]) }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
