{{ form_start(form, {'attr': {'class': 'form-verical'}}) }}

<div id="recherche">

	{{ form_widget(form.versionNomenclature, {'attr': {'class': 'ChoixRecherche'}}) }}		

	{{ form_widget(form.quantite, {'attr': {'class': 'quantite'}}) }}
	{{ form_widget(form.calculer, {'attr': {'class': 'inputCalculer'}}) }}
</div>
{{ form_end(form) }}
