{% extends 'ICProductionBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Stock Interne{% endblock %}

{% block entete %}{{ parent() }} Stock Interne{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite'
	'@ICProductionBundle/Resources/public/css/listInterne.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
{% endblock %}

{% block page %}

    {{ parent() }}

    {% if listeNomenclature is not empty %}
        
        {% set prodMax = 0 %}
        
        {% for prodManquant in nbProdManquant %}
            {% if prodManquant > prodMax %}
                {% set prodMax =  (quantite - prodManquant) %}
            {% endif %}
        {% endfor %}
        
        {% if idType == 0 %}
            <a class="inputValid" href="{{ path('ic_calcul', {'idProducteur': 0, 'idType': idType, 'idVersion': idVersion, 'quantite1': quantite}) }}">Ajouter à la liste des productions en attente</a> 

            {% if prodMax != 0 %} 
                <a class="inputValid" href="{{ path('ic_calcul', {'idProducteur': 0, 'idType': idType, 'idVersion': idVersion, 'quantite1': (quantite - prodMax), 'quantite2': prodMax}) }}">Diviser la production ({{(quantite - prodMax)}} - {{prodMax}})</a>
            {% endif %}
        {% endif %}
        
        {% for nomenclature in listeNomenclature %}
        
            <h1>Pour {{quantite}} carte(s) {{nomenclature.nom}}</h1>
            
                <h2>Production Possible : {{quantite - nbProdManquant[loop.index0]}} carte(s)</h2>
            
            {% if idType == 1 %}
            
                <a class="inputValid" href="{{ path('ic_calcul', {'idProducteur': 0, 'idType': idType, 'idVersion': idVersion, 'quantite1': quantite}) }}">Ajouter à la liste des productions en attente</a> 

                {% if nbProdManquant[loop.index0] != 0 %} 
                    <a class="inputValid" href="{{ path('ic_calcul', {'idProducteur': 0, 'idType': idType, 'idVersion': idVersion, 'quantite1': nbProdManquant[loop.index0], 'quantite2': (quantite - nbProdManquant[loop.index0])}) }}">Diviser la production</a>
                {% endif %}
                
            {% endif %}
            
            {% if nomenclature[0].designation is defined %}
            
                <h2 class="titreTabComposantManquant">Liste des composants manquants</h2>
                <table class="tabComposantProduction">
                    <tr>
                        <td class="titreDesignation">Designation</td>
                        <td class="titreQte">Qte nécessaire</td>
                        <td class="titreQte">Stock Manquant</td>
                    </tr>
                    {% set tour = loop.index0 %}
                    
                    {% for composant in nomenclature %} 
                    
                        {% if loop.index != 1 %}         
                            <tr>
                                <td class="designation">{{composant.designation}}</td>
                                <td>{{composant.quantite}}</td>
                                <td>{{composant.stock}}</td>
                            </tr>
                        {% endif %}
                        
                    {% endfor %}
                
                </table>
            {% endif %}
            
            <hr>
            
        {% endfor %}
        
    {% else %}
        <div class="infoPageVide">
            Aucun composant renseigné dans cette nomenclature<br>
            Cliquer <a class="lienRetour" href="{{ path('ic_production_interne')}}">ici</a> pour revenir à la page précédente
        </div>
    {% endif %}

{% endblock %}
