{% extends 'ICProductionBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Stock Interne{% endblock %}

{% block entete %}{{ parent() }} Stock Interne{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite'
	'@ICProductionBundle/Resources/public/css/listInterne.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
{% endblock %}

{% block page %}

    {{ parent() }}
    
    {% if listeNomenclature is not empty %}  
      
        <form method="post" action="{{ path('ic_calcul', {'idProducteur': id, 'idType': idType, 'idVersion': idVersion, 'quantite1': quantite}) }}">  
        
            {% if idType == 0 %}
                <input type="submit" value="Ajouter à la production prévisionnelle" class="inputValid"></a> 
            {% endif %}  

            {% for nomenclature in listeNomenclature %}
            
                {% if idType == 0 %}
                    <h1><input type="checkbox" name="lieu[]" value="{{ nomenclature.version }}" checked>Pour {{ quantite }} carte(s)  {{ nomenclature.nom }}</h1>
                {% else %}
                     <h1>Pour {{ quantite }} carte(s)  {{nomenclature.nom}}</h1>
                {% endif %}
                    <h2>Production Possible : {{ quantite - nbProdManquant[loop.index0] }} carte(s)</h2>
                    
                {% if idType == 1 %}         
                   <input type="submit" value="Ajouter à la production prévisionnelle" class="inputValid"></a> 
                {% endif %}
                
                {% if nomenclature[0].designation is defined %}
                
                    <table class="tabComposantProduction">
                        <tr>
                            <td class="titreCheckBox"></td>  
                            <td class="titreDesignation">Designation</td>
                            <td class="titreQte">Qte nécessaire</td>
                            <td class="titreQte">Stock restant</td>
                        </tr>
                        
                        {% for composant in nomenclature %}
                        
                            {% if loop.index != 1 and loop.index != 2 %} 
                                <tr class="{% if composant.stock < 0 %}stockInsufisant{% endif %}">   
                                    <td>
                                        {% if composant.option == 0 %}
                                            <input type="checkbox" name="option[]" value="{{ composant.id }}" checked>
                                        {% else %}
                                            <input type="checkbox" name="option[]" value="{{ composant.id }}">
                                        {% endif %}
                                    </td>
                                    <td class="designation">{{ composant.designation }}</td>
                                    <td>{{ composant.quantite }}</td>
                                    <td>{{ composant.stock }}</td>
                                </tr>
                            {% endif %}
                            
                        {% endfor %}
                        
                    </table>
                    
                {% endif %}
                
            {% endfor %}
        </form>
    {% else %}
        <div class="infoPageVide">
            Aucun composant renseigné dans cette nomenclature<br>
            Cliquer <a class="lienRetour" href="{{ path('ic_production_sous_traitant', {id :id}) }}">ici</a> pour revenir à la page précédente
        </div>
    {% endif %}
{% endblock %}
