{% extends "ICAffichageBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Production Interne{% endblock %}

{% block entete %}{{ parent() }} Production Interne{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite'
	'@ICAffichageBundle/Resources/public/css/production.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
{% endblock %}

{% block page %}
	{{ parent() }}

	<h1>Production Interne</h1>
	
	{% if prod is empty %}
		<div class="infoPageVide">Aucune production en cours</div>
	{% else %}
		<table class="imp tableProd">
            <tr>
                <td class="titreDesignation">Nomenclature</td>
                <td class="titreQte">Qte</td>
                <td class="titreDate">Date de lancement</td>
            </tr>
            {% for production in prod %}
                <tr>
                    <td>{{production.version.nomenclature.nom}}-V{{production.version.version}}</td>
                    <td>{{production.quantite}}</td>
                    <td>{{production.dateProd|date('d-m-Y')}}</td>
                </tr>
            {% endfor %}
		</table>
	{% endif %}
{% endblock %}
