{% extends "ICAdministrationBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Contrôle Qualité{% endblock %}

{% block entete %}{{ parent() }} Contrôle Qualité{% endblock %}

{% block stylesheets %}

	{{ parent() }}
    
	{% stylesheets filter='cssrewrite'
	'@ICAdministrationBundle/Resources/public/css/controleQualite.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
{% endblock %}

{% block page %}

	{{ parent() }}
    
    <a class="lienChangementPage" href="{{ path('ic_administration_affichage_nomenclature_qualite') }}">Gestion des nomenclatures</a>
    
    {% if idEtape == 0 %}
        {{ form_start(formEtape) }}
            {{ form_widget(formEtape.nom) }}
            {{ form_widget(formEtape.submit_etape) }}
        {{ form_end(formEtape) }}
    {% endif %}

    {% if idTest != 0 %}
        {{ form_start(formTest) }}
    {% endif %}
            
    {% if listeEtapes is not empty %}
    
        {% for etape in listeEtapes %}
        
             {% if idEtape == etape.id %}
                {{ form_start(formEtape) }}
            {% elseif idTest == 0 and idEtape == 0 %}
                {{ form_start(formTest[loop.index0]) }}
            {% endif %}
            
            <table class="tabEtape">
                <tr>
                    {% if idEtape == etape.id %}
                        <td class="titreDesignation">{{ form_widget(formEtape.nom) }}</td>
                        <td class="details">{{ form_widget(formEtape.submit_etape) }}</td>
                    {% else %}
                        <td class="titreDesignation">{{ etape.nom }}</td>
                        <td class="details">
                            {% image 'Resources/public/images/fleche.png' %}
                                <a href="{{ path('ic_administration_affichage_gestion_qualite', {idEtape: etape.id}) }}">
                                    <img id="" class="flecheDetails" src="{{ asset_url }}" alt="Fleche Détail" />
                                </a>
                            {% endimage %}                            
                        </td>
                    {% endif %}
                    
                    {% if idTest == 0 and idEtape == 0 %}
                        <tr>
                            <td class="titreDesignation">{{ form_widget(formTest[loop.index0].nom) }}</td>
                            <td class="details">{{ form_widget(formTest[loop.index0].submit_test) }}</td>
                        </tr>
                    {% endif %}
                    
                    {% for test in etape.test %}
                    
                        {% if idTest == test.id %}
                            <tr>
                                <td class="titreDesignation">{{ form_widget(formTest.nom) }}</td>
                                <td class="details">{{ form_widget(formTest.submit_test) }}</td>
                            </tr>                        
                        {% else %}
                            <tr>
                                <td>{{ test.nom }}</td>                        
                                <td class="details">
                                    {% image 'Resources/public/images/fleche.png' %}
                                        <a href="{{ path('ic_administration_affichage_gestion_qualite', {idTest: test.id}) }}">
                                            <img id="" class="flecheDetails" src="{{ asset_url }}" alt="Fleche Détail" />
                                        </a>
                                    {% endimage %}                            
                                </td>
                            </tr>                        
                        {% endif %}
                        
                    {% endfor %}
                </tr>
            </table>
            
            {% if idEtape == etape.id %}
                {{ form_end(formEtape) }}
            {% elseif idTest == 0 and idEtape == 0 %}
                {{ form_end(formTest[loop.index0]) }}
            {% endif %}
                        
        {% endfor %}
        
        {% if idTest != 0 %}
            {{ form_end(formTest) }}
        {% endif %} 
            
    {% endif %}
{% endblock %}
