{% extends "ICAdministrationBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Contrôle Qualité{% endblock %}

{% block entete %}{{ parent() }} Contrôle Qualité{% endblock %}

{% block stylesheets %}

	{{ parent() }}
    
	{% stylesheets filter='cssrewrite'
	'@ICAdministrationBundle/Resources/public/css/controleQualite.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
{% endblock %}

{% block page %}

	{{ parent() }}
    
    <h1>{{ etape[0].nom }}</h1>
    
    {% if etape[0].test is not empty %}
    
        <form class="formTest" method="post" action="{{ path('ic_administration_gestion_nomenclature_qualite_gestion_test', {'idEtapeNomenclature': idEtapeNomenclature}) }}">
        
            <input class="inputValider" type="submit" value="Valider"><br>

            {% for test in etape[0].test %}
            
                {% if listeTestChecked is not empty %}
                
                    {% set exist = 0 %}
                    
                    {% for testChecked in listeTestChecked %}
                    
                        {% if testChecked.idTest == test.id %}
                        
                            <input class="checkBoxTest" type="checkbox" name="test[]" value="{{ test.id }}" checked >{{ test.nom }}<br>
                            {% set exist = 1 %}
                            
                        {% endif %}
                        
                    {% endfor %}
                    
                    {% if exist == 0 %}
                        <input class="checkBoxTest" type="checkbox" name="test[]" value="{{ test.id }}">{{ test.nom }}<br>
                    {% endif %}
                    
                {% else %}
                    <input class="checkBoxTest" type="checkbox" name="test[]" value="{{ test.id }}">{{ test.nom }}<br>
                {% endif %}
                
            {% endfor %}
            
            <input class="inputValider" type="submit" value="Valider">
            
        </form>
    
    {% else %}
        <div>Aucun test n'est renseigné pour cette étape</div>
    {% endif %}
    
{% endblock %}
