<nav id="lienMenuVertical">
	{% if is_granted('ROLE_PRODUCTION') %}
	<span class="titreMenuVertical">Stock Matière Première</span><br>
	
		<a class="sousMenu decalageNoPlus" href="{{ path('ic_affichage_composant_interne') }}">Stock Interne</a><br>
		
	{% if sousTraitants[0].id is not empty %}
		
		{% image 'Resources/public/images/plus.png' %}
    		<span id="sousMenu1" class="sousMenu"><img id="sousMenu11" class="imgFlecheliste majuscule" src="{{ asset_url }}" alt="Fleche Bas" />Stock Sous-Traitants</span>
		{% endimage %}
		<br>
		<div class="divSousMenu" id="sousMenu111">
            {% for sousTraitant in sousTraitants %}
                {% if sousTraitant.id != 0 %}
                    <a class="sousSousMenu" href="{{ path('ic_affichage_sous_traitant', {'id': sousTraitant.id}) }}">{{ sousTraitant.nom }}</a><br>
                {% endif %}
            {% endfor %}
		</div>
	{% endif %}

	{% if nomenclatures is not empty %}
	
		<span class="titreMenuVertical">Nomenclatures</span><br>
		
			{% image 'Resources/public/images/plus.png' %}
    			<span id="sousMenu2" class="sousMenu"><img id="sousMenu21" class="imgFlecheliste majuscule" src="{{ asset_url }}" alt="Fleche Bas" />Nomenclatures PCB</span>
			{% endimage %}
			<br>
			<div class="divSousMenu" id="sousMenu211">
                {% set idLastAffiche = nomenclatures[0].idNomenclature %}
                    <a class="sousSousMenu" href="{{ path('ic_affichage_nomenclature_pcb', {'id': nomenclatures[0].id}) }}">{{ nomenclatures[0].nomenclature.nom }}-V{{nomenclatures[0].version}}</a><br>
				{% for nomenclature in nomenclatures %}
                    {% if idLastAffiche != nomenclature.idNomenclature %}
                        {% set idLastAffiche = nomenclature.idNomenclature %}
					    <a class="sousSousMenu" href="{{ path('ic_affichage_nomenclature_pcb', {'id': nomenclature.id}) }}">{{ nomenclature.nomenclature.nom }}-V{{nomenclature.version}}</a><br>
				    {% endif %}
                {% endfor %}
			</div>
			
			{% image 'Resources/public/images/plus.png' %}
    			<span id="sousMenu3" class="sousMenu"><img id="sousMenu31" class="imgFlecheliste majuscule" src="{{ asset_url }}" alt="Fleche Bas" />Nomenclatures PF</span>
			{% endimage %}
			
			<div class="divSousMenu" id="sousMenu311">
                {% set idLastAffiche = nomenclatures[0].idNomenclature %}
                    <a class="sousSousMenu" href="{{ path('ic_affichage_nomenclature_pf', {'id': nomenclatures[0].id}) }}">{{ nomenclatures[0].nomenclature.nom }}-V{{nomenclatures[0].version}}</a><br>
				{% for nomenclature in nomenclatures %}
                    {% if idLastAffiche != nomenclature.idNomenclature %}
                        {% set idLastAffiche = nomenclature.idNomenclature %}
					   <a class="sousSousMenu" href="{{ path('ic_affichage_nomenclature_pf', {'id': nomenclature.id}) }}">{{ nomenclature.nomenclature.nom }}-V{{nomenclature.version}}</a><br>
				    {% endif %}
                {% endfor %}
			</div>
		{% endif %}
			<span class="titreMenuVertical">Approvisionnement</span><br>
				<a class="sousMenu decalageNoPlus" href="{{ path('ic_affichage_appro_interne') }}">Appro Matière Première</a><br>
                {#
				{% image 'Resources/public/images/plus.png' %}
					<span id="sousMenu4" class="sousMenu"><img id="sousMenu41" class="imgFlecheliste majuscule" src="{{ asset_url }}" alt="Fleche Bas" />Appro Sous Traitant</span><br>
				{% endimage %}
				
				<div class="divSousMenu" id="sousMenu411">
					{% if appro is empty %}
						Aucune appro en cours
					{% else %}
						{% for approvisionnement in appro %}
							<a class="sousSousMenu" href="{{ path('ic_affichage_appro_sous_traitant', {'id': approvisionnement.sousTraitant.id}) }}">{{ approvisionnement.sousTraitant.nom }}</a><br>
						{% endfor %}
					{% endif %}
				</div>
                #}
				
				<a class="sousMenu decalageNoPlus1" href="{{ path('ic_affichage_appro_identifiant') }}">Appro Identifiant</a><br>
				<a class="sousMenu decalageNoPlus1" href="{{ path('ic_affichage_appro_autre') }}">Appro Autre Produit Fini</a><br>
                
			<span class="titreMenuVertical">Production</span><br>
            
				<a class="sousMenu decalageNoPlus" href="{{ path('ic_affichage_production_interne') }}">Production Interne</a><br>
				
				{% image 'Resources/public/images/plus.png' %}
					<span id="sousMenu5" class="sousMenu"><img id="sousMenu51" class="imgFlecheliste majuscule" src="{{ asset_url }}" alt="Fleche Bas" />Production Sous-Traitants</span><br>
				{% endimage %}
				
				<div class="divSousMenu" id="sousMenu511">
					{% if prod is empty %}
						<span>Aucune production en cours</span>
					{% else %}
						{% for production in prod %}
							<a class="sousSousMenu" href="{{ path('ic_affichage_production_sous_traitant', {'id': production.sousTraitant.id}) }}">{{ production.sousTraitant.nom }}</a><br>
						{% endfor %}
					{% endif %}
				</div>
			{% endif %}
			<span class="titreMenuVertical">Stock Produits Finis</span><br>
				<a class="sousMenu decalageNoPlus" href="{{ path('ic_affichage_produit_fini_interne') }}">Lecteurs</a><br>
				<a class="sousMenu decalageNoPlus" href="{{ path('ic_affichage_produit_fini_identifiant') }}">Identifiants</a><br>
				<a class="sousMenu decalageNoPlus" href="{{ path('ic_affichage_produit_fini_autre') }}">Autres Produits Finis</a><br>
</nav>
<span class="lienImp" onclick="$('.imp').tableExport({type:'excel', escape:'false'})">Enregistrer au format Excel</span><br>
<span class="lienImp" onclick="javascript:window.print()">Imprimer</span><br>
<br>
{% if url == "ic_affichage_composant_interne" %}
	{{ include("ICAffichageBundle:Form:FormComposantInterne.html.twig") }}
{% elseif url == "ic_affichage_produit_fini_lecteur_cv" or  url == "ic_affichage_produit_fini_interne" %}
	{{ include("ICAffichageBundle:Form:FormProduitFiniLecteur.html.twig") }}
{% elseif url == "ic_affichage_produit_fini_identifiant" %}
	{{ include("ICAffichageBundle:Form:FormProduitFiniIdentifiant.html.twig") }}
{% elseif url == "ic_affichage_sous_traitant" %}
	{{ include("ICAffichageBundle:Form:FormComposantSousTraitant.html.twig") }}
{% endif %}
