{% extends 'base.html.twig' %}

{% block title %}Contrôle Qualité{% endblock %}

{% block stylesheets %}

	{% stylesheets filter='cssrewrite'
	'@ICTestBundle/Resources/public/css/layout.css'
	'@ICTestBundle/Resources/public/css/menu_vertical.css' %}
		{{ parent() }}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
	
	{% stylesheets filter='cssrewrite'
	'@ICTestBundle/Resources/public/css/impression.css' %}
		{{ parent() }}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="print">
	{% endstylesheets %}
	
{% endblock %}

{% block entete %}Contrôle Qualité{% endblock %}

{% block body %}

	<section id="menuVertical">
		{{ render(controller("ICTestBundle:Menu:menu", {'url': app.request.attributes.get('_route')})) }}
	</section>
	
    <section id="page">
	
        {% block page %}
        
        {% endblock %}
    </section>
	
{% endblock %}

{% block javascripts %}

	{{ parent() }}
	
{% endblock %}
