{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}
{% block stylesheets %}
	{% stylesheets filter='cssrewrite'
	'@ICAdministrationBundle/Resources/public/css/layout.css'
	'@ICAdministrationBundle/Resources/public/css/menu_vertical.css' %}
		{{ parent() }}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
	{% stylesheets filter='cssrewrite'
	'@ICAffichageBundle/Resources/public/css/impression.css' %}
		{{ parent() }}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="print">
	{% endstylesheets %}
{% endblock %}
{% block entete %}Administration{% endblock %}

{% block body %}
	<section id="menuVertical">
		{# {{ render(controller("ICAdministrationBundle:Menu:menu", {'url': app.request.attributes.get('_route')})) }} #}
	</section>
    <section id="page">
        {% block page %}
        
        {% endblock %}
    </section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% javascripts 
	'@ICAdministrationBundle/Resources/public/js/trieChoixFamille.js'
    '@ICAdministrationBundle/Resources/public/js/menu_deroulant.js'
	%}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
