{{ form_start(form, {'attr': {'class': 'form-verical'}}) }}

<div id="recherche">
	{{ form_label(form.recherche, 'Recherche', {'label_attr': {'class': 'labelRecherche'}}) }}<br>
	{{ form_widget(form.recherche, {'attr': {'class': 'inputRecherche'}}) }}
	<br>
	{% for child in form.choixRecherche %}
		{% if loop.index == 1 %}
			{{ form_widget(child, {'attr': {'class': 'ChoixRecherche', 'checked': 'checked'}}) }}
		{% else %}
			{{ form_widget(child, {'attr': {'class': 'ChoixRecherche'}}) }}
		{% endif %}
		
		{{ form_label(child, child, {'label_attr': {'class': 'labelChoixRecherche'}}) }}
		
	{% endfor %}
	{{ form_widget(form.rechercher, {'attr': {'class': 'submitRecherche'}}) }}
	<br>
	{% image 'Resources/public/images/plus.png' %}
    	<img id="checkBox11" class="imgFlecheCheckBox" src="{{ asset_url }}" alt="Fleche Bas" />
	{% endimage %}
	{{ form_label(form.famille, 'Famille', {'label_attr': {'class': 'titreCheckBox', 'id': 'checkBox1'}}) }}
	<br>
	<div id="checkBox111" class="divCheckBox">
		{% for child in form.famille %}
			{{ form_widget(child, {'attr': {'class': 'checkBox', 'value': loop.index}}) }}
			{{ form_label(child, child, {'label_attr': {'class': 'labelCheckBox'}}) }} <br>
		{% endfor %}
	</div>
	
	{% image 'Resources/public/images/plus.png' %}
    	<img id="checkBox21" class="imgFlecheCheckBox" src="{{ asset_url }}" alt="Fleche Bas" />
	{% endimage %}	
	{{ form_label(form.sousFamille, 'Sous Famille', {'label_attr': {'class': 'titreCheckBox', 'id': 'checkBox2'}}) }}
	<br>
	<div id="checkBox211" class="divCheckBox">
		{% for child in form.sousFamille %}
			{{ form_widget(child, {'attr': {'class': 'checkBox', 'value': loop.index}}) }}
			{{ form_label(child, child, {'label_attr': {'class': 'labelCheckBox'}}) }} <br>
		{% endfor %}
	</div>
		
	{% image 'Resources/public/images/plus.png' %}
    	<img id="checkBox31" class="imgFlecheCheckBox" src="{{ asset_url }}" alt="Fleche Bas" />
	{% endimage %}
	{{ form_label(form.etat, 'Etat', {'label_attr': {'class': 'titreCheckBox', 'id': 'checkBox3'}}) }}	
	<br>
	<div id="checkBox311" class="divCheckBox">
		{% for child in form.etat %}
			{{ form_widget(child, {'attr': {'class': 'checkBox', 'value': loop.index}}) }}
			{{ form_label(child, child, {'label_attr': {'class': 'labelCheckBox'}}) }} <br>
		{% endfor %}
	</div>
	{% image 'Resources/public/images/plus.png' %}
    	<img id="checkBox41" class="imgFlecheCheckBox" src="{{ asset_url }}" alt="Fleche Bas" />
	{% endimage %}
	{{ form_label(form.fournisseur, 'Fournisseur', {'label_attr': {'class': 'titreCheckBox', 'id': 'checkBox4'}}) }}	
	<br>
	<div id="checkBox411" class="divCheckBox">
		{% for child in form.fournisseur %}
			{{ form_widget(child, {'attr': {'class': 'checkBox', 'value': loop.index}}) }}
			{{ form_label(child, child, {'label_attr': {'class': 'labelCheckBox'}}) }} <br>
		{% endfor %}
	</div>
	{#
	{% image 'Resources/public/images/plus.png' %}
    	<img id="checkBox51" class="imgFlecheCheckBox" src="{{ asset_url }}" alt="Fleche Bas" />
	{% endimage %}
	{{ form_label(form.nomenclature, 'Nomenclature', {'label_attr': {'class': 'titreCheckBox', 'id': 'checkBox5'}}) }}		
	<br>
	<div id="checkBox511" class="divCheckBox">
		{% for child in form.nomenclature %}
			{{ form_widget(child, {'attr': {'class': 'checkBox', 'value': loop.index}}) }}
			{{ form_label(child ,child , {'label_attr': {'class': 'labelCheckBox'}}) }} <br>
		{% endfor %}
	</div>
	#}
	{% image 'Resources/public/images/plus.png' %}
    	<img id="checkBox61" class="imgFlecheCheckBox" src="{{ asset_url }}" alt="Fleche Bas" />
	{% endimage %}
	{{ form_label(form.stock, 'Stock', {'label_attr': {'class': 'titreCheckBox', 'id': 'checkBox6'}}) }}
	<br>
	<div id="checkBox611" class="divCheckBox">
		{{ form_widget(form.stock, {'attr': {'class': 'inputStock'}}) }}<br>
		{% for child in form.plus_ou_moins %}
			{% if loop.index == 1 %}
				{{ form_widget(child, {'attr': {'class': 'radioStock', 'checked': 'checked'}}) }}
			{% else %}
				{{ form_widget(child, {'attr': {'class': 'radioStock'}}) }}
			{% endif %}
			{{ form_label(child ,child , {'label_attr': {'class': 'labelStock'}}) }}
		{% endfor %}
	</div>
	<br>
	{{ form_widget(form.trier, {'attr': {'class': 'submitTrie'}}) }}
</div>
{{ form_end(form) }}
