{{ form_start(form, {'attr': {'class': 'form-verical'}}) }}
    <div id="recherche">
        {{ form_label(form.recherche, 'Recherche', {'label_attr': {'class': 'labelRecherche'}}) }}<br>
        {{ form_widget(form.recherche, {'attr': {'class': 'inputRecherche'}}) }}
        <br>
        {{ form_widget(form.Rechercher, {'attr': {'class': 'submitRecherche'}}) }}
        
        {% image 'img/plus.png' %}
            <img id="checkBox11" class="imgFlecheCheckBox" src="{{ asset_url }}" alt="Fleche Bas" />
        {% endimage %}	
        {{ form_label(form.type, 'Type', {'label_attr': {'class': 'titreCheckBox', 'id': 'checkBox1'}}) }}
        <br>	
        <div id="checkBox111" class="divCheckBox">
            {% for child in form.type %}
                {{ form_widget(child, {'attr': {'class': 'checkBox', 'value': loop.index}}) }}
                {{ form_label(child, child, {'label_attr': {'class': 'labelCheckBox'}}) }} <br>
            {% endfor %}
        </div>
        
        {% image 'img/plus.png' %}
            <img id="checkBox21" class="imgFlecheCheckBox" src="{{ asset_url }}" alt="Fleche Bas" />
        {% endimage %}	
        {{ form_label(form.frequence, 'Fréquence', {'label_attr': {'class': 'titreCheckBox', 'id': 'checkBox2'}}) }}
        <br>	
        <div id="checkBox211" class="divCheckBox">
            {% for child in form.frequence %}
                {{ form_widget(child, {'attr': {'class': 'checkBox'}}) }}
                {{ form_label(child, child, {'label_attr': {'class': 'labelCheckBox'}}) }} <br>
            {% endfor %}
        </div>
        {{ form_widget(form.Trier, {'attr': {'class': 'submitTrie'}}) }}
    </div>
{{ form_end(form) }}
